
body{
    background-color: rgb(226, 244, 255);
    margin: 20px;
}

h1{
    color: white;
    text-align: center;
    border: solid 2px rgb(197, 206, 255);
    padding: 10px;
    margin: 20px;
    background-color: rgb(197, 206, 255) ;
}
h2{

    text-align: center;
    border: solid 2px rgb(197, 213, 245);
    padding: 10px;
  
    background-color: rgb(197, 213, 245) ;
}
p{
    border: solid 1px black;

    padding: 10px;
}
.img{
    display: block;
    margin: auto;
}
iframe{
    display: block;
    margin: auto;
}

.logo{
    width: 150px;
    height: auto;
    margin: 20px;
}

table{
    width: 100%;
}
td{
    width: 10%;
    border: 1px solid #000;
    border-color: rgb(172, 175, 207) ;
    border-spacing: 0;
    padding: 0.3em;
    text-align: center;
}
.tabla{
    background-color: rgb(221, 224, 255) ;
}

.tt{
    background-color:rgb(172, 175, 207)  ;
}



